/****************************Responcive****************************/

@media screen and (max-width: 650px) {
  body{
    display: none;
  }
}

@media screen and (max-height:450px) {
  body{
      display: none;
  }

}

@media screen and (max-width: 1000px) {
  #leftSharePartage{
      display: none;
  }

}

/****************************Responcive****************************/

body{
    margin: 0;
    padding: 0;
    background-color: #360b6f;
    overflow: hidden;
    height: 100vh;
}

.logo{
  z-index: -1;
  width: 500px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}


input[type="text"] {
  border-radius: 111115px 0px 0px 111115px;
  font-size: 5vh;
  width: 50vw;
  height: 8vh;
  padding: 0px 0px 0px 15px ;
  outline: none;
  border: 0px;
}

.un {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.button1 {
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 64px;
  position: absolute;
  top:92%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button1:hover {
	font-size: 80px;
}

.icon{
  font-size: 8vh;
  background-color: #ffffff;
  border-radius:  0px 111115px 111115px 0px ;
  color: #360b6f;
  border: 0px;
}

